{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.jqplot.min.css') }}" />
{% endblock %}

{% block body %}
    <br/>
    <div id="chart"></div>
    <br/>
    <div id="chartWaterTank"></div>
    <br/>
    <div id="chartHeartFrequence"></div>
{% endblock %}


{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.jqplot.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPlugins/jqplot.cursor.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPlugins/jqplot.highlighter.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPlugins/jqplot.canvasOverlay.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPlugins/jqplot.enhancedLegendRenderer.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPlugins/jqplot.canvasAxisLabelRenderer.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPlugins/jqplot.canvasAxisTickRenderer.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPlugins/jqplot.canvasTextRenderer.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPlugins/jqplot.DateAxisRenderer.js') }}"></script>
    <script src="{{ asset('assets/js/graphe.js') }}"></script>
{% endblock %}