{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.jqplot.min.css') }}" />
{% endblock %}

{% block body %}
    <br/>
    <div id="chart"></div>
    <br/>
    <div id="chartWaterTank"></div>
    <br/>
    <div id="chartGaugeMeter"></div>
{% endblock %}


{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.jqplot.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPluginsMin/jqplot.cursor.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPluginsMin/jqplot.highlighter.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPluginsMin/jqplot.canvasOverlay.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPluginsMin/jqplot.enhancedLegendRenderer.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPluginsMin/jqplot.canvasAxisLabelRenderer.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPluginsMin/jqplot.canvasAxisTickRenderer.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPluginsMin/jqplot.canvasTextRenderer.min.js') }}"></script>
    <script src="{{ asset('assets/js/jqplotPluginsMin/jqplot.DateAxisRenderer.min.js') }}"></script>
    <script src="{{ asset('assets/js/graphe.js') }}"></script>
{% endblock %}